################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

.vs
pbrain-GodzIA.exe
pbrain-GodzIA.ilk
pbrain-GodzIA.pdb
pbrain-GodzIA.log
pbrain-GodzIA.iobj
pbrain-GodzIA.ipdb