################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

.vs
Debug
pbrain-GodzIA.exe
pbrain-GodzIA.ilk
pbrain-GodzIA.pdb